


.button-mixin (@border-radius: @button-border-radius) {
  font-size: @button-border-radius;
  padding: 1.2rem 5rem;
  border-radius: 18px;
  border: none;
 
}


.button-scale-out-on-hover (@bg-color: @button-success, @border-radius: @button-border-radius) {

  position: relative;
  &::after {
    content: "";
    display: inline-block;
    height: 90%;
    width: 90%;
    border-radius: @button-border-radius;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: all .7s;
    background-color: @bg-color;
    transform: translateX(-50%) translateY(-50%);

  }

  &:hover::after {
    transform: translateX(-50%) translateY(-50%) scaleX(2) scaleY(2);
    opacity: 0;
  }
}

.button-press(@color: black, @opacity: @default-box-shadow-opacity, @blur: @default-box-shadow-blur, @x: 0, @y: (@default-box-shadow-offsetY - 3px), @width: @default-box-shadow-width) {

  &:active {
    transform: translateY(3px);
    .aesthetic-box-shadow (@color , @blur, @width,  @opacity, @x,  @y);
  }
}

.button-border-right-grow-on-hover (@color, @size: 2px) {
  transition: all .4s;
  box-sizing: padding-box;
  
  &:hover {
    border-right: @size solid @color;
    
  }
}

.button-border-left-grow-on-hover (@color, @size: 2px) {
  transition: all .4s;
  
  &:hover {
    border-left: @size solid @color;
    
  }
}

.button-border-top-grow-on-hover (@color, @size: 2px) {
  transition: all .4s;
  
  &:hover {
    border-top: @size solid @color;
    
  }
}

.button-border-bottom-grow-on-hover (@color, @size: 2px) {
  transition: all .4s;
  
  &:hover {
    border-bottom: @size solid @color;
    
  }
}