.background-pan-left(@duration: 8s){
    -webkit-animation: bg-pan-left @duration both;
    animation:         bg-pan-left @duration both;
    
    @-webkit-keyframes bg-pan-left{
        0%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0% 50%;
        }
    }
    @keyframes bg-pan-left{
        0%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0% 50%;
        }
    }
}

.background-pan-right (@duration: 8s){
    -webkit-animation: bg-pan-right @duration both;
    animation:         bg-pan-right @duration both;
    
    @-webkit-keyframes bg-pan-right{
        0%{
            background-position: 0% 50%;
        }
        100%{
            background-position: 100% 50%;
        }
    }
    @keyframes bg-pan-right{
        0%{
            background-position: 0% 50%;
        }
        100%{
            background-position: 100% 50%;
        }
    }
}

.background-pan-bottom-to-top (@duration: 8s){
    animation:         bg-pan-top @duration both;

    @-webkit-keyframes bg-pan-top{
        0%{
            background-position: 50% 100%;
        }
        100%{
            background-position: 50% 0%;
        }
    }
    @keyframes bg-pan-top{
        0%{
            background-position: 50% 100%;
        }
        100%{
            background-position: 50% 0%;
        }
    }
}

.background-pan-top-right (@duration: 8s){
    animation:         bg-pan-tr @duration both;
    
    @-webkit-keyframes bg-pan-tr{
        0%{
            background-position: 0% 100%;
        }
        100%{
            background-position: 100% 0%;
        }
    }
    @keyframes bg-pan-tr{
        0%{
            background-position: 0% 100%;
        }
        100%{
            background-position: 100% 0%;
        }
    }
}

.background-pan-bottom-right (@duration: 8s){
    -webkit-animation: bg-pan-br @duration both;
    animation:         bg-pan-br @duration both;
    
    @-webkit-keyframes bg-pan-br{
        0%{
            background-position: 0% 0%;
        }
        100%{
            background-position: 100% 100%;
        }
    }
    @keyframes bg-pan-br{
        0%{
            background-position: 0% 0%;
        }
        100%{
            background-position: 100% 100%;
        }
    }
}

.background-pan-bottom-left(@duration: 8s){
    -webkit-animation: bg-pan-bl @duration both;
    animation:         bg-pan-bl @duration both;
    
    @-webkit-keyframes bg-pan-bl{
        0%{
            background-position: 100% 0%;
        }
        100%{
            background-position: 0% 100%;
        }
    }
    @keyframes bg-pan-bl{
        0%{
            background-position: 100% 0%;
        }
        100%{
            background-position: 0% 100%;
        }
    }
}

.background-pan-top-left(@duration: 8s){
    -webkit-animation: bg-pan-tl @duration both;
    animation:         bg-pan-tl @duration both;
    
    @-webkit-keyframes bg-pan-tl{
        0%{
            background-position: 100% 100%;
        }
        100%{
            background-position: 0% 0%;
        }
    }
    @keyframes bg-pan-tl{
        0%{
            background-position: 100% 100%;
        }
        100%{
            background-position: 0% 0%;
        }
    }
}

.background-color-change-2-colors (@color1, @color2, @duration: 2s){
    -webkit-animation: color-change-2x @duration linear infinite alternate both;
    animation:         color-change-2x @duration linear infinite alternate both;
    
    @-webkit-keyframes color-change-2x{
        0%{
            background: @color1;
        }
        100%{
            background: @color2;
        }
    }
    @keyframes color-change-2x{
        0%{
            background: @color1;
        }
        100%{
            background: @color2;
        }
    }
}

.background-color-change-3-colors (@color1, @color2, @color3, @duration: 4s){
    
    -webkit-animation: color-change-3x @duration linear infinite alternate both;
    animation:         color-change-3x @duration linear infinite alternate both;
    
    @-webkit-keyframes color-change-3x{
        0%{
            background: @color1;
        }
        50%{
            background: @color2;
        }
        100%{
            background: @color3;
        }
    }
    @keyframes color-change-3x{
        0%{
            background: @color1;
        }
        50%{
            background: @color2;
        }
        100%{
            background: @color3;
        }
    }
    
}

.background-color-change-4-colors (@color1, @color2, @color3, @color4, @duration: 6s){
    -webkit-animation: color-change-4x @duration linear infinite alternate both;
    animation:         color-change-4x @duration linear infinite alternate both;
    
    @-webkit-keyframes color-change-4x{
        0%{
            background: @color1;
        }
        33.3333%{
            background: @color2;
        }
        66.666%{
            background: @color3;
        }
        100%{
            background: @color4;
        }
    }
    @keyframes color-change-4x{
        0%{
            background: @color1;
        }
        33.3333%{
            background: @color2;
        }
        66.666%{
            background: @color3;
        }
        100%{
            background: @color4;
        }
    }
    
}

.background-color-change-5-colors (@color1, @color2, @color3, @color4, @color5, @duration: 8s){
    
    -webkit-animation: color-change-5x @duration linear infinite alternate both;
    animation:         color-change-5x @duration linear infinite alternate both;
    
    @-webkit-keyframes color-change-5x{
        0%{
            background: @color1;
        }
        25%{
            background: @color2;
        }
        50%{
            background: @color3;
        }
        75%{
            background: @color4;
        }
        100%{
            background: @color5;
        }
    }
    @keyframes color-change-5x{
        0%{
            background: @color1;
        }
        25%{
            background: @color2;
        }
        50%{
            background: @color3;
        }
        75%{
            background: @color4;
        }
        100%{
            background: @color5;
        }
    }
    
}

.background-glow-on-hover(@bg-color, @percent-brighten: 25%){
    background-color: @bg-color;
    
    &:hover{
        background-color: lighten(@bg-color, @percent-brighten);
    }
    
}

.background-darken-on-hover(@bg-color, @percent-darken: 25%){
    background-color: @bg-color;
    
    &:hover{
        background-color: darken(@bg-color, @percent-darken);
    }
}

.background-linear-gradient(@color1, @color2, @opacity: 1 ){
  @color11: rgba(@color1, @opacity);
  @color22: rgba(@color2, @opacity);
    background-image+: linear-gradient(to bottom right,@color11, @color22);
}

.background-linear-gradient-3(@color1, @color2, @color3, @opacity: 1){
  @color11: rgba(@color1, @opacity);
  @color22: rgba(@color2, @opacity);
  @color33: rgba(@color3, @opacity);
  background-image+: linear-gradient(to bottom right, @color11, @color22, @color33);
}

.background-linear-gradient-saturate-desaturate(@color){
    background-image+: linear-gradient(to  right, desaturate(@color, @desaturate-percentage) 0%, desaturate(@color, @desaturate-percentage) 33%, @color 33%,@color 66%, saturate(@color, @saturation-percentage) 66%, saturate(@color, @saturation-percentage) 100%);
}

.background-linear-gradient-glow-on-hover (@color1, @color2, @glowPercentage: 25%){
    .background-linear-gradient(@color1, @color2);
    
    &:hover{
        .background-linear-gradient(lighten(@color1, @glowPercentage), @color2)
    }
}

.background-linear-gradient-darken-on-hover (@color1, @color2, @darkenPercentage: 25%){
    .background-linear-gradient(@color1, @color2);
    
    &:hover{
        .background-linear-gradient( darken( @color1, @darkenPercentage), darken(@color2, @darkenPercentage));
    }
}

.background-radial-gradient (@colorInside, @colorOutside, @location: closest-corner, @x: 50%, @y: 50%, @color1InsidePercent: 0, @colorOutsidePercent: 100%){
    
    background-image+: radial-gradient(@location at @x @y,
    @colorInside @color1InsidePercent, @colorOutside @colorOutsidePercent);
    
}

.background-radial-gradient-brighten-on-hover ( @colorInside, @colorOutside, @percentBrighten: 25%, @location: closest-corner, @x: 50%,
 @y: 50%, @color1InsidePercent: 0, @colorOutsidePercent: 100%){
    
    .background-radial-gradient( @colorInside, @colorOutside, @location, @x, @y, @color1InsidePercent, @colorOutsidePercent);
    
    &:hover{
        .background-radial-gradient(lighten( @colorInside, @percentBrighten), lighten(@colorOutside, @percentBrighten),
                @location, @x, @y, @color1InsidePercent, @colorOutsidePercent);
    }
}

.background-radial-gradient-darken-on-hover ( @colorInside, @colorOutside, @fontColor: inherit,@percentBrighten: 25%, @location: closest-corner, @x: 50%,
 @y: 50%, @color1InsidePercent: 0, @colorOutsidePercent: 100%){
    
    .background-radial-gradient( @colorInside, @colorOutside, @location, @x, @y, @color1InsidePercent, @colorOutsidePercent);
    
    &:hover{
        
        color: @fontColor;
        .background-radial-gradient(darken( @colorInside, @percentBrighten), darken(@colorOutside, @percentBrighten),
                @location, @x, @y, @color1InsidePercent, @colorOutsidePercent);
    }
}

.background-slide-over (@color: white, @opacity: .4, @skew: 45deg) {
    position: relative;
    overflow: hidden;
    
    &:after {
        content: '';
        background-color: rgba(@color, @opacity);
        width: 100%;
        height: 100%;
        transform: translateX(-120%) skewX(@skew);
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s;
    }
    
    &:hover:after {
        transform: translateX(0) skewX(@skew);
    }
}

