

/* Navigation */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: rgb(189, 189, 189);
  padding: 0 50px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
}

.nav-links a {
  margin-right: 10px;
}

.sub-nav-bar {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.sub-nav-bar h4 {
  margin-right: 10px;
}

.sub-nav-links {
  display: flex;
  justify-content: space-evenly;
}

.sub-nav-links a {
  margin-right: 10px;
}
