.App {
}

/* Login */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input {
  margin-bottom: 10px;
}

/* Add New User Form */

.add-new-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-new-user form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-new-user input {
  margin-bottom: 10px;
}

/* Navigation */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: rgb(189, 189, 189);
  padding: 0 50px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
}

.nav-links a {
  margin-right: 10px;
}

.sub-nav-bar {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
}

.left-nav {
  width: 33%;
}

.sub-nav-links h4 {
  margin-right: 10px;
}

.sub-nav-links {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: baseline;
}

.sub-nav-links a {
  margin-right: 10px;
}

.right-nav {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.right-nav button {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* JumboSearch */

.jumbo-search {
  background: rgb(189, 189, 189);
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.jumbo-search input {
  width: 450px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px 80px 0;
}

.jumbo-search button {
  padding: 10px 60px;
  border-radius: 5px;
  margin-bottom: 80px;
  cursor: pointer;
}

/* Home */

.home-wrapper {
  display: flex;
  justify-content: center;
}

/* Book List */

.book-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}

.book-list-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0 30px 30px 0;
  border: 1px solid lightgrey;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px;
}

.book-list-item-wrapper .item-body {
  padding: 10px;
}

/* Book Details */

.book-details {
  margin: 10px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.book-details .buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.book-details .add-review-link {
  margin: 15px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.book-details button {
  margin: 15px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.book-details .add-review-link:hover {
  background: lightgrey;
}

.book-details img {
  width: 300px;
}

/* Review Form */

.review-form {
  margin: 10px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.review-form .review-form-header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
}

.review-form .review-form-header img {
  width: 50px;
}

.review-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 50%;
  justify-content: space-between;
}

.review-form input {
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.review-form textarea {
  padding: 10px;
  height: 100px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.review-form button {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Book Form */

.book-form {
  margin: 10px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.book-form .book-form-header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
}

.book-form .book-form-header img {
  width: 50px;
}

.book-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 75%;
  justify-content: space-between;
}

.book-form input {
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.book-form textarea {
  padding: 10px;
  height: 100px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.book-form button {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
